html,
body,
div,
.wall,
.view3d,
.room {
    margin: 0;
}

div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    // height: inherit!important;
}


/************************************************* cube styles *************************************************/


/* cube container */

.view3d {
    perspective: 500px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

.roomContainer {
    height: inherit;
}

/* default room */

.room {
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: inherit;
    height: inherit;
}


/* room up */

.roomTop {
    transform-origin: center top;
    transform: rotateX(90deg);
}


/* room right */

.roomRight {
    transform-origin: center right;
    transform: rotateY(90deg);
}


/* room down */

.roomBottom {
    transform-origin: center bottom;
    transform: rotateX(-90deg);
}


/* room left */

.roomLeft {
    transform-origin: center left;
    transform: rotateY(-90deg);
}


/************************************************* cube wall styles *************************************************/


/* default wall */

.wall {
    position: absolute;
    margin: 0 auto;
    overflow: auto;
    height: 100%;
    width: 100%;
}


/* center wall */

.center {
    background-color: lightpink;
    z-index: 2;
    transition: all 1s ease-in-out;
    opacity: 0;
}


/* top wall */

.top {
    transform-origin: center top;
    transform: rotateX(-90deg);
    text-align: center;
    overflow: hidden;
    height: 100%;
}

.topContent {
    overflow: hidden;
    height: 100%;
    background-image: url("/static/img/top/sky.jpg");
    background-position: top;
    background-repeat: repeat-x;
    background-size: 350%;
    animation: animatedBackground 20s linear infinite;
}

.topContent.active {
    background-image: none;
    overflow: auto;
    transition: all 1s ease-in-out;
}

.topContent img {
    padding: 5px;
    max-width: 230px;
    max-height: 230px;
    width: auto;
    height: auto;
    transform-origin: center top;
    opacity: 0;
    transform: rotateX(90deg);
    transition: all 1s ease-in-out;
}

.topContent.active img {
    opacity: 1;
    transform: rotateX(0deg);
    transition: all 1s ease-in-out;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

// @keyframes popin {
//     from {}
//     to {
//         opacity: 1;
//         transform: rotateX(0deg);
//     }
// }
// @keyframes popout {
//     from {
//         opacity: 1;
//         transform: rotateX(0deg);
//     }
//     to {
//         opacity: 0;
//         transform: rotateX(90deg);
//     }
// }

/* bottom wall */

.floor {
    background-color: lightblue;
    transform-origin: center bottom;
    transform: rotateX(90deg);
}


/* right wall */

.right {
    right: 0;
    /* stick page right */
    background-color: #8eea7c;
    transform: rotateY(-90deg);
    transform-origin: right center;
    text-align: right;
}


/* left wall */

.left {
    background-color: lightseagreen;
    transform: rotateY(90deg);
    transform-origin: left center;
    text-align: left;
}


/************************************************* navigation styles *************************************************/

.navbar {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-around;
    z-index: 2;
}

.navbar ul {
    list-style-type: none;
    text-transform: uppercase;
}

.navbar ul li {
    margin: auto 10px;
    padding: 5px;
    display: inline;
}